h1
  font-size: 40px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 1px
  color: #FFFFFF
  font-family: Montserrat
  font-weight: 700
  padding-bottom: 5px
  padding-top: 0

h2
  font-size: 30px
  font-weight: 700
  color: #264348
  padding-bottom: 5px
  font-family: Montserrat

h3
  font-size: 19px
  font-style: italic
  letter-spacing: 0.5px
  line-height: 1.8
  margin-bottom: 0
  color: rgba(35, 35, 35, 0.9)

h4
  font-size: 16px
  letter-spacing: 1px
  color: #1a1a1a
  text-transform: uppercase
  font-weight: 700
  font-family: Roboto
h5
  font-style: italic
  font-size: 13px
  color: #264348

p
  margin: 8px 0 0 0
  color: #6c7a89
  line-height: 30px
  font-size: 19px
  font-weight: 300
  letter-spacing: 1.00px
  font-family: Roboto

.omi-btn
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  color: #ffffff
  font-size: 12px
  text-decoration: none
  background: transparent
  padding: 12px 35px
  border: solid #ffffff 1.5px
  cursor: pointer
  text-align: center



/*-------------------------------------------------------------
    Home Page
/*-------------------------------------------------------------

.omi-nav-color
  background-color: #FFFFFF
  border-bottom: 1px solid transparent
  box-shadow: 0 0 2px 0 #999999
  -webkit-box-shadow: 0 0 2px 0 #999999
  -moz-box-shadow: 0 0 2px 0 #999999
  -o-box-shadow: 0 0 2px 0 #999999

.omi-nav-btn
  color: #1f4788
  text-decoration: none
  text-transform: uppercase
  cursor: pointer
  padding: 2px 3px !important
  text-align: center
  border-radius: 6px
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  background: transparent
  border: solid #1f4788 1.5px

  :hover
    background: #1f4788
    color: #ffffff




/* ---------------
    Slider
/*---------------
#omi-home
  background: url("pics/images/homepage-slide7_old.jpg")
  height: 600px
  background-size: cover
  background-repeat: no-repeat
  margin-bottom: -83px
  margin-top: 80px

  .content
    position: relative
    padding: 200px 20px

    h1
      font-size: 36px
      text-transform: uppercase
      font-weight: 700
      letter-spacing: 1px
      font-family: Montserrat
      text-shadow: 0px 2px 2px #000

    p
      margin: 8px 0 0 0
      color: #BDC3C7
      line-height: 30px
      font-size: 19px
      font-weight: 300
      letter-spacing: 1.00px
      font-family: Montserrat



/* -------------
    Brand Logo
/*---------------



.brandlogo.clients
  display: inline
  padding-left: 70px
  clear: right


.brandlogo img
  width: 80px
  height: auto


.bg-blue
  padding: 20px 0
  background-color: #30424c
  opacity: 0.7
  width: 100%
  height: 100px
  position: absolute
  bottom: 0
  left: 0

/*------------
	Services
/*---------------
#omi-wrapper
  padding: 75px 0


.omi-service
  text-align: center
  position: relative
  padding-top: 60px

.omi-service h2
  font-size: 30px
  font-weight: 700
  color: #264348
  font-family: Montserrat


.omi-line
  border-top: 1px solid #999999
  width: 70px
  text-align: center
  margin: 0 auto
  margin-top: 0


/* ----------------
	Featured Boxes
/*-----------------


.feature-box
  position: relative
  margin-top: 70px
  padding: 0 0 0 80px



.feature-box .fbox-icon
  display: block
  position: absolute
  width: 60px
  height: 60px
  top: 0
  left: 0



.feature-box img
  display: block
  position: relative
  width: 100%
  height: 100%
  color: #FFF

.feature-box img .ico1
  background: url("pics/images/icons/WEB_APPLICATION_ICON.png")


.feature-box h3
  font-size: 16px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 1px
  margin-bottom: 0
  color: #333

.feature-box p
  margin: 8px 0 0 0
  color: #264348
  line-height: 23px
  letter-spacing: 1px
  font-size: 15px



/*------------------
    OUR WORK
/*------------------


.portfolio_img
  background: url("pics/images/homepage-slide7_old.jpg")


section.section-divider
  -webkit-box-shadow: 0 0 2px 0 #999999
  border-bottom: 1px solid transparent
  -moz-box-shadow: 0 0 2px 0 #999999
  -o-box-shadow: 0 0 2px 0 #999999

section#home-our-work .work-item
  float: left
  display: block
  margin-right: .00028%
  width: 33.33282%

section#home-our-work .work-item::after
  clear: both
  content: ""
  display: table

section#home-our-work .work-item:last-child
  margin-right: 0

@media screen and (max-width: 767px)
  section#home-our-work .work-item
    float: left
    display: block
    margin-right: 1.16509%
    width: 100%

  section#home-our-work .work-item:last-child
    margin-right: 0


section#home-our-work .work-item:before
  content: ""
  display: block
  width: 100%
  padding-bottom: 80%

section#home-our-work .work-item.full
  float: left
  display: block
  margin-right: 1.16509%
  width: 100%

section#home-our-work .work-item.full .work-banner:last-child,section#home-our-work .work-item.full:last-child
  margin-right: 0

section#home-our-work .section-title h2
  font-size: 30px
  font-weight: 700
  color: #264348
  padding-bottom: 10px
  font-family: Montserrat


section#home-our-work .work-item.full .work-banner
  height: 500px
  float: left
  display: block
  width: 66.66591%
  margin-right: 0

@media screen and (min-width: 768px) and (max-width: 1024px)
  section#home-our-work .work-item:before
    padding-bottom: 100%

  section#home-our-work .work-item.full .work-banner
    float: left
    display: block
    margin-right: 0
    width: 50%

  section#home-our-work .work-item.full .work-banner:last-child
    margin-right: 0


@media screen and (max-width: 767px)
  section#home-our-work .work-item.full .work-banner
    height: auto
    float: left
    display: block
    margin-right: 1.16509%
    width: 100%

  section#home-our-work .work-item.full .work-banner:last-child
    margin-right: 0


section#home-our-work .work-item.full .work-details
  height: 500px
  float: left
  width: 33.33282%
  margin-right: 0

section#home-our-work .work-item.full .work-details:last-child
  margin-right: 0

@media screen and (min-width: 768px) and (max-width: 1024px)
  section#home-our-work .work-item.full .work-details
    float: left
    display: block
    margin-right: 0
    width: 50%

  section#home-our-work .work-item.full .work-details:last-child
    margin-right: 0


@media screen and (max-width: 767px)
  section#home-our-work .work-item.full .work-details
    height: auto
    float: left
    display: block
    margin-right: 1.16509%
    width: 100%


  section#home-our-work .work-item.full .work-details:last-child
    margin-right: 0




section#home-our-work .work-item .overlay,section#home-our-work .work-item.full .work-details
  -webkit-box-orient: vertical
  -moz-box-orient: vertical


section#home-our-work .work-item .overlay>*,section#home-our-work .work-item.full .work-details>*
  max-width: 100%


section#home-our-work
  background-color: #fff
  color: #332A3A
  padding: 75px 0

section#home-our-work .section-title
  width: 100%
  clear: both
  float: none
  overflow: auto
  text-align: center
  margin-bottom: 80px

section#home-our-work .section-title h1
  margin: 0 0 25px

@media screen and (max-width: 1024px)
  section#home-your-team .your-team-col p
    font-size: 13px

  section#home-our-work .section-title h1
    margin: 75px 0 25px


@media screen and (max-width: 1024px)
  section#home-our-work .section-title h3
    float: left
    display: block
    margin-right: 1.16509%
    width: 100%
    margin-left: 0



@media screen and (min-width: 768px) and (max-width: 1024px)
  section#home-our-work
    padding: 115px 0

  section#home-our-work .section-title h3
    font-size: 18px

  section#home-our-work .section-title
    margin-bottom: 60px


section#home-our-work .section-content
  display: block


section#home-our-work .section-content p
  color: #C6C6C6
  font-size: 16px
  font-style: italic
  line-height: 2.16


section#home-our-work .work-item
  margin-top: 20px
  background-repeat: no-repeat
  background-size: cover
  position: relative

section#home-our-work .work-item:first-child,section#home-our-work .work-item:first-child .overlay
  box-shadow: -10px 0 0 #fff inset

@media screen and (min-width: 768px) and (max-width: 1024px)
  section#home-our-work .work-item
    margin-top: 10px

  section#home-our-work .work-item:first-child,section#home-our-work .work-item:first-child .overlay
    box-shadow: -5px 0 0 #fff inset


@media screen and (max-width: 767px)
  section#home-our-work
    padding: 70px 0 5px

  section#home-our-work .section-title p
    font-size: 16px

  section#home-our-work .section-title
    padding-left: 20px
    padding-right: 20px
    margin-bottom: 40px

  section#home-our-work .work-item
    margin-top: 5px

  section#home-our-work .work-item:first-child,section#home-our-work .work-item:first-child .overlay
    box-shadow: none


section#home-our-work .work-item:nth-child(2),section#home-our-work .work-item:nth-child(2) .overlay
  box-shadow: 10px 0 0 #fff inset, -10px 0 0 #fff inset

@media screen and (min-width: 768px) and (max-width: 1024px)
  section#home-our-work .work-item:nth-child(2),section#home-our-work .work-item:nth-child(2) .overlay
    box-shadow: -5px 0 0 #fff inset


@media screen and (max-width: 767px)
  section#home-our-work .work-item:nth-child(2),section#home-our-work .work-item:nth-child(2) .overlay
    box-shadow: none


section#home-our-work .work-item:last-child,section#home-our-work .work-item:last-child .overlay
  box-shadow: 10px 0 0 #fff inset

@media screen and (min-width: 768px) and (max-width: 1024px)
  section#home-our-work .work-item:last-child,section#home-our-work .work-item:last-child .overlay
    box-shadow: -5px 0 0 #fff inset


section#home-our-work .work-item.active .overlay,section#home-our-work .work-item:hover .overlay
  opacity: 1

section#home-our-work .work-item.active a.omi-btn,section#home-our-work .work-item:hover a.omi-btn
  display: inline-block

section#home-our-work .work-item .overlay
  -webkit-transition: opacity .2s ease-in-out
  -moz-transition: opacity .2s ease-in-out
  transition: opacity .2s ease-in-out
  background: #30424c
  background: rgba(48, 66, 76, 0.93)
  text-align: center
  height: 100%
  opacity: 0
  color: #fff
  position: absolute
  top: 0
  left: 0
  width: 100%
  display: -webkit-box
  display: -moz-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  box-orient: vertical
  box-direction: normal
  -webkit-flex-direction: column
  -moz-flex-direction: column
  flex-direction: column
  -ms-flex-direction: column
  -webkit-box-pack: center
  -moz-box-pack: center
  box-pack: center
  -webkit-justify-content: center
  -moz-justify-content: center
  -ms-justify-content: center
  -o-justify-content: center
  justify-content: center
  -ms-flex-pack: center
  -webkit-box-align: center
  -moz-box-align: center
  box-align: center
  -webkit-align-items: center
  -moz-align-items: center
  -ms-align-items: center
  -o-align-items: center
  align-items: center
  -ms-flex-align: center

section#home-our-work .work-item .overlay p
  color: #fff
  text-transform: uppercase
  margin-bottom: 0
  font-style: normal
  letter-spacing: 1px
  font-size: 14px
  line-height: 18px

section#home-our-work .work-item .overlay h2
  font-size: 25px
  font-weight: 700
  color: #ffffff
  padding-bottom: 0px !important
  font-family: Montserrat

section#home-our-work .work-item a.omi-btn
  margin-top: 40px

@media screen and (max-width: 1024px)
  section#home-our-work .work-item a.omi-btn
    margin-top: 20px


section#home-our-work .work-item a.omi-btn:hover
  color: #30424c
  background-color: #fff
  border-color: #fff
  text-decoration: none

section#home-our-work .work-item.full
  margin-top: 0
  border: none!important

section#home-our-work .work-item.full:before
  display: none

section#home-our-work .work-item.full .work-banner
  background-size: cover
  background-repeat: no-repeat
  background-position: center center

@media screen and (max-width: 1024px)
  section#home-our-work .work-item.full .work-banner
    margin: 0
    padding: 0


@media screen and (max-width: 767px)
  section#home-our-work .work-item:last-child,section#home-our-work .work-item:last-child .overlay
    box-shadow: none

  section#home-our-work .work-item.full .work-banner
    padding-bottom: 80%


section#home-our-work .work-item.full .work-details
  background: #30424c
  display: -webkit-box
  display: -moz-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  box-orient: vertical
  -webkit-box-direction: normal
  -moz-box-direction: normal
  box-direction: normal
  -webkit-flex-direction: column
  -moz-flex-direction: column
  flex-direction: column
  -ms-flex-direction: column
  -webkit-box-pack: center
  -moz-box-pack: center
  box-pack: center
  -webkit-justify-content: center
  -moz-justify-content: center
  -ms-justify-content: center
  -o-justify-content: center
  justify-content: center
  -ms-flex-pack: center
  -webkit-box-align: center
  -moz-box-align: center
  box-align: center
  -webkit-align-items: center
  -moz-align-items: center
  -ms-align-items: center
  -o-align-items: center
  align-items: center
  -ms-flex-align: center
  padding: 30px

@media screen and (max-width: 767px)
  section#home-our-work .work-item.full .work-details
    display: block
    padding: 50px 20px
    text-align: center


section#home-our-work .work-item.full .work-details h2
  font-size: 30px
  font-weight: 700
  color: #ffffff
  padding-bottom: 0px !important
  font-family: Montserrat

section#home-our-work .work-item.full .work-details p
  color: #fff
  font-size: 14px
  font-style: normal
  line-height: 18px
  text-align: center
  font-weight: 400

section#home-our-work .work-item.full .work-details .quote-text
  background-position: top center
  background-size: 27px 20px
  background-repeat: no-repeat
  color: #fff
  font-size: 15px
  font-style: italic
  line-height: 2
  padding-top: 38px
  text-align: center
  margin-bottom: 10px

section#home-our-work .work-item.full .work-details .quote-author
  font-size: 11px
  letter-spacing: .79px
  text-transform: uppercase
  font-family: Montserrat,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif
  color: #fff
  margin-bottom: 10px


/*------------------
    GET STARTED
/*------------------

.bg-lynch
  padding: 100px 0
  background-image: url("pics/images/banner_1.jpg")
  background-size: cover
  background-repeat: no-repeat


.bg-lynch h1
  color: #FFFFFF
  padding-top: 0


.bg-lynch h3
  color: #FFFFFF


.bg-lynch a
  font-size: 15px
  font-family: Montserrat
  letter-spacing: 1px
  font-weight: 400


.bg-lynch .span
  font-size: 15px
  font-family: Montserrat
  letter-spacing: 1px
  font-weight: 400
  color: #FFFFFF
  margin: 90px 0
  text-decoration: none


.omi-line2
  border-top: 1px solid #FFFFFF
  width: 90px
  text-align: center
  margin: 0 auto
  margin-top: 0

.bg-lynch .omi-btn
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  color: #ffffff
  font-size: 12px
  text-decoration: none
  background: transparent
  padding: 12px 35px
  border: solid #ffffff 1.5px
  text-decoration: none
  cursor: pointer
  text-align: center


.bg-lynch .omi-btn:hover
  background: #FFFFFF
  text-decoration: none
  color: #30424c
  font-weight: normal
  text-transform: uppercase


/*----------------------
    CLIENT
/*----------------------

@media screen and (min-width: 1024px)
  .client-words i
    margin-bottom: -12px

  .review
    display: block
    text-align: left
    margin-bottom: 45px
    padding: 0 60px


  .review h4
    font-size: 16px
    letter-spacing: 1px
    color: #1a1a1a
    text-transform: capitalize
    font-weight: 700
    font-family: Roboto
    margin-top: 20px




.review h4
  font-size: 16px
  letter-spacing: 1px
  color: #1a1a1a
  text-transform: capitalize
  font-weight: 700
  font-family: Roboto


.client-words
  padding-top: 75px
  padding-bottom: 20px
  .omi-line
    margin-bottom: 20px


.client-words h2
  font-size: 30px
  font-weight: 700
  color: #264348
  padding-top: 10px
  padding-bottom: 5px
  font-family: Montserrat


.client-words h5
  font-style: normal
  font-size: 13px
  color: #264348
  letter-spacing: 2.63px


.client-words i
  margin-bottom: -20px


.review
  display: block
  text-align: left
  margin-bottom: 45px


.review .review-section
  font-size: 15px
  font-style: italic
  font-weight: 400
  font-family: "PT Serif"


.reviewer
  display: inline-block

/*----------------------
    BACKGROUND TEAMBOX
/*----------------------

@media only screen and (min-width: 1024px)
.bg-teambox h2
  font-size: 30px
  font-weight: 700
  color: #264348
  padding-top: 40px
  font-family: Montserrat



.bg-teambox
  padding-top: 20px
  padding-bottom: 75px
  background-color: #EEEEEE

  .omi-line
    padding-bottom: 35px


.teambox
  display: block
  padding-bottom: 8px
  margin-bottom: 20px
  line-height: 1.42857143
  background-color: #fff
  border: 1px solid #BDC3C7
  border-radius: 4px
  -webkit-transition: border .2s ease-in-out
  -o-transition: border .2s ease-in-out
  transition: border .2s ease-in-out


#team_img
  background: url("pics/images/dushan-stankovic.jpg")


.teambox img
  display: block
  max-width: 100%
  height: auto


.teamcaption
  padding: 20px


.teamcaption h4
  font-size: 16px
  letter-spacing: 1px
  color: #1a1a1a
  text-transform: uppercase
  font-weight: 700
  font-family: Roboto


.teamcaption p
  font-size: 13px
  letter-spacing: 1px
  line-height: 20px
  color: #264348
  font-weight: 400
  font-family: Roboto


.teamcaption h5
  font-style: italic
  font-size: 13px
  color: #264348



.teamcaption .social-btn
  display: inline
  max-width: 4px
  max-height: 5px
  padding-right: 15px
  clear: right


.bg-teambox h2
  font-size: 30px
  font-weight: 700
  color: #264348
  font-family: Montserrat



/*-----------------------------------------------
    SUBSCRIBE
/*-----------------------------------------------

.base-form
  padding-top: 50px
  padding-bottom: 75px

  .omi-line
    padding-bottom: 35px


.base-form h2
  font-size: 30px
  font-weight: 700
  color: #264348
  font-family: Montserrat


.base-form .btn
  display: block
  width: 250px
  height: 50px
  padding: 6px 12px
  margin: 0 6px
  font-size: 14px
  line-height: 1.42857143
  color: #FFFFFF
  background-color: #30424c

.base-form.btn:hover
  background-color: #FFFFFF
  color: #30424c



.base-form .form-control
  display: block
  width: 250px
  height: 50px
  padding: 6px 12px
  margin: 0 6px
  font-size: 14px
  line-height: 1.42857143
  color: #555
  background-color: #fff
  background-image: none
  border: 1px solid #ccc
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s

.form-control:focus
  border-color: #66afe9
  outline: 0
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)

.form-control::-moz-placeholder
  color: #999
  opacity: 1

.form-control:-ms-input-placeholder
  color: #999

.form-control::-webkit-input-placeholder
  color: #999

.form-control::-ms-expand
  background-color: transparent
  border: 0



/*------------------------------------------------
    FOOTER
/*------------------------------------------------
#footer
  position: relative
  background-color: #30424c
  padding-top: 70px
  padding-bottom: 35px
  line-height: 2.0



#footer h3
  font-size: 14px
  font-weight: 400
  text-transform: uppercase
  letter-spacing: 1px
  margin-bottom: 0
  color: #8a939a
  padding: 20px 0


#footer h4
  font-size: 14px
  letter-spacing: 1px
  color: #8a939a
  text-transform: uppercase
  font-weight: 700
  font-family: Roboto


#footer li
  display: block
  list-style-type: none
  text-decoration: none
  font-weight: normal


#footer a
  font-size: 13px
  text-decoration: none
  color: #8a939a
  letter-spacing: 1px


#footer i
  display: inline
  vertical-align: middle
  width: 20px
  height: auto
  padding-right: 12px
  font-size: 25px


#footer i:hover
  color: #f37771


#footer .hr
  width: 100%
  border: 0px
  border-top: 0.009px solid #8a939a
  margin-top: 30px


#footer img
  padding-top: 0px
  padding-bottom: 10px
  margin-bottom: 0
  width: 80px
  display: inline-block


#footer span
  display: block
  font-size: 13px
  color: #8a939a
  letter-spacing: 1px
  padding-bottom: 2px
  padding-top: 20px


#footer.copyright
  margin-top: 50px
  color: #8a939a


#footer a:hover
  color: #f37771


#footer .fa-facebook:hover
  color: #2b669a

#footer .fa-dribbble:hover
  color: crimson

#footer .fa-twitter:hover
  color: #2aabd2

#footer .fa-google-plus:hover
  color: #ff0000

/*==============================================================
/*===============================================================


/*-----------------------------------------------------------------
    PRODUCT PAGE
/*-----------------------------------------------------------------


#omi-product
  background-size: cover
  background-attachment: fixed
  background-repeat: no-repeat
  background-position: center
  height: 550px
  width: 100%


.overlay
  background-color: rgba(4, 2, 13, 1)
  opacity: 0.9
  height: 100%


#omi-product h1
  font-size: 23px
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 1px
  text-align: center
  padding-top: 20%
  line-height: 37px


/*====================================================================
            Single-Product
/*=====================================================================

.content-section-a
  padding: 70px 0
  background-color: #FFFFFF


.content-section-a h2
  font-family: Roboto
  font-size: 34px
  font-weight: normal
  text-transform: capitalize
  margin-bottom: 0
  color: #6c7a89


.content-section-a p
  margin: 8px 0 0 0
  color: #6c7a89
  line-height: 30px
  font-size: 19px
  font-weight: 300
  letter-spacing: 1.00px
  font-family: Roboto



.content-section-b
  padding: 70px 0
  border-top: 1px solid #e7e7e7
  border-bottom: 1px solid #e7e7e7
  background-color: #FFFFFF


.content-section-b h2
  font-family: Roboto
  font-size: 34px
  font-weight: normal
  text-transform: capitalize
  margin-bottom: 0
  color: #6c7a89


.content-section-b p
  margin: 8px 0 0 0
  color: #6c7a89
  line-height: 30px
  font-size: 19px
  font-weight: 300
  letter-spacing: 1.00px
  font-family: Roboto


.content-section-a img
  height: auto
  width: 500px
  background-position: center


.ghgh
  background-position: center
  height: 400px
  width: auto
  background-size: contain
  background-repeat: no-repeat


#omi-single-product
  background-color: lightsteelblue
  background-size: cover
  background-position: center
  margin: 0 2px


#omi-single-product h1
  font-family: Roboto
  font-size: 50px
  font-weight: normal
  text-transform: capitalize
  margin-bottom: 0
  color: #6c7a89


#omi-single-product p
  font-family: Roboto
  font-size: 21px
  font-weight: normal
  text-transform: capitalize
  margin-bottom: 0
  color: #6c7a89


#omi-single-product img
  width: 700px
  height: auto
  margin-top: -60px


#omi-single-product .content
  padding-top: 120px
  padding-bottom: -20px








/*----------------------------------------------------
        SINGLE POST
/*----------------------------------------------------

.blog-post,.blog-post-title h2
  font-size: 40px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 1px
  color: #264348
  font-family: Montserrat
  font-weight: 700
  padding-bottom: 30px
  padding-top: 40px


.blog-header p
  margin: 8px 0 0 0
  color: #6c7a89
  line-height: 30px
  font-size: 19px
  font-weight: 300
  letter-spacing: 1.00px
  font-family: Roboto
