<div id="footer">
  <div class="container">

    <div class="col-md-4">
      <a href="index.html"><img src="/pics/images/omi_logo.png"></a>
      <span>Open Minded Innovations is an organization <br>dedicated to helping everyone live a happy and <br>fulfilling life. We believe that people thrive when <br>they are given opportunities to apply themselves.</span>

      <h4>Get In Touch</h4>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>

    <div class="col-md-2">
      <h4>About</h4>
      <li><a href="">Company</a></li>
      <li><a href="">Jobs</a></li>
      <li><a href="">Media House</a></li>
      <li><a href="">Blog</a></li>
    </div>

    <div class="col-md-2">
      <h4>Community</h4>
      <li><a href="">Help Center</a></li>
      <li><a href="">Security</a></li>
      <li><a href="">Corporate Partners</a></li>
      <li><a href="">Communities</a></li>
      <li><a href="">Terms of service</a></li>
    </div>


    <div class="col-md-2">
      <h4>Community</h4>
      <li><a href="">Help Center</a></li>
      <li><a href="">Security</a></li>
      <li><a href="">Corporate Partners</a></li>
      <li><a href="">Communities</a></li>
      <li><a href="">Terms of service</a></li>
    </div>

    <div class="col-md-2">
      <h4>Community</h4>
      <li><a href="">Help Center</a></li>
      <li><a href="">Security</a></li>
      <li><a href="">Corporate Partners</a></li>
      <li><a href="">Communities</a></li>
      <li><a href="">Terms of service</a></li>
    </div>
  </div>

    <div class="container">
      <div class="hr"/>
      <div class="col-md-12"><span>© 2016. Open Minded Innovations. All Right Reserved</span></div>
    </div>

</div>